<div class="row row-cols-md-5">
@for (play of getPlaylists(); track play.id) {
    <div class="card text-center bg-light pt-2 pr-2 mb-2 mr-2">
        <div class="card-body" (click)="mostrarCanciones(play.id)">
            <h5 class="card-title">  {{play.name}}  </h5>
            <h6 class="card-title">  {{play.author}} </h6>
            <h6 class="card-title">  {{play.name}}  </h6>
             
            
    
            <p class="card-text fw-bold"></p>
        </div>
    </div>
    
}

</div>
<div>
    @if (canciones.length > 0) {
        <h3>Canciones de la playlist:</h3>
        <ul>
            @for (c of canciones; track c.id) {
                <app-tarjetas [cancion]="c"></app-tarjetas>
            }
          
        </ul>}
</div>
